DJANGO_SETTINGS_MODULE=scitrek_backend.settings.development
DATABASE_ENGINE=postgresql
DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_NAME=scitrek_dev
DATABASE_USER=scitrek_dev
DATABASE_PASSWORD=scitrek_dev_only

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/1
REDIS_CACHE_URL=redis://redis:6379/2
GUEST_LOGIN_ENABLED=1
GUEST_CLASSROOM_NAME=1001
PUBLIC_SIGNUP_ENABLED=1
